.cleiton {
   width: 300px;
   height: 90px;
   position: absolute;

}

.cleiton::after {
   content: '';
   position: absolute;
   top: 100%;
   left: 50%;
   border-style: solid;
   border-width: 140px 140px 0 140px;
   transform: translateX(-50%);
   border-color:RebeccaPurple;
}


