@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

.storybook-button {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  border: 0;
  border-radius: 0.6em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}
.storybook-button--primary {
  color: white;
  background-color: var(--color-primary);
}
.storybook-button--secondary {
  color: #333;
  background-color: transparent;
  box-shadow: var(--color-primary) 0px 0px 0px 2px inset;
}
.storybook-button--medium {
  font-size: 18px;
  padding: 12px 20px;
}

:root{
   --color-primary: #663399;
   --color-primary-dark: #5C2E8A;
   --color-primary-darker: #52297A;
   --color-text-base: #121212;
   --color-text-inactive: #707070;
   --color-separator: #CCCCCC;
   --color-text-in-primary: #ffffff;
   --color-text-complement: #444444;
   --color-background: #ebebeb;
   --color-background-darker: #D4D3D3;
   --color-background-boxes: #D7D7D7;
   --color-background-footer: #1C1C1C;
   --color-placeholders: #ACA9A9;
   --color-placeholders-box: rgba(97,97,97, 0.6);
   --color-dark-shadow: rgba(136, 136, 136, 0.2);
   --color-purple-shadow: rgba(102, 51, 153, 0.2);
}

@media (min-width: 850px) {
   :root{
      font-size: 62.5%
   }
}
